:root {
    --litest-grey: #EFEFEF;
    --lite-grey: #D9D9D9;
    --grey: #454444;
    --green: #00A00D;
    --green-2: #0C8744;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */


body {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
}


h1, h2, h3, h4, h5 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
}

a:active {
    color: var(--lite-grey);
}

  
  main {
    max-width: 1440px;
    margin: auto;
  }

.center {
    width: min(90vw, 1120px);
    margin: auto;
}

header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    padding: 25px 95px;
}

.left-header {
    display: flex;
    column-gap: 0.5rem;
}

.left-header span {
    color: #fff;
    cursor: pointer;
}

.left-header p {
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
}


.center-header {
    display: flex;
    column-gap: 17px;
}

.center-header p {
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    align-self: center;
}

.center-header span {
    display: flex;
    align-self: center;
    width: 3px;
    height: 30px;
    background-color: #fff;
}

.center-header a {
    font-size: 1.8rem;
}


@media screen and (width < 540px) {
    .a > a {
      font-size: 1.4rem;
    }
  }

@media screen and (width < 810px) {
    .left-header {
      display: none;
    }
    .rigth-header {
        margin-inline: auto;
    }
}

@media screen and (width < 530px)  {
    .loginBtn {
        padding: 0.5em 4.2em;
    }
}

@media screen and (width < 1470px) {
    .center-header {
      display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
}

.rigth-header {
    display: flex;
    column-gap: 3rem;
}

.a {
    display: flex;
    cursor: pointer;
}

.a span {
    color: #fff;
}

main {
    margin: 0 auto;
}

main h1 {
    text-align: center;
    font-size: 6.4rem;
    font-weight: 400;
    color: var(--green);
    line-height: 77.45px;
    margin-top: 61px;
    margin-bottom: 16px;
}

main h5 {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--green-2);
    margin-bottom: 90px;
}


.alink {
    margin-top: 32px;
    display: flex;
    justify-content: end;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--green-2);
}

.alink:active  {
    color: var(--green);
}


form {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

.input-wrapper {
    margin-bottom: 2rem;
}

label {
    font-weight: 500;
    color: var(--green);
}


input {
    padding: 5px 8px;
    font-size: 1.6rem;
    border: none;
    border-bottom: 2px solid var(--green-2);
    display: block;
    color: var(--green-2);
    width: 100%;
}


input:focus {
    outline: none;
    border-bottom: 2px solid #000;
}


input:default {
    background-color: none;
}

hr {
    margin-bottom: 80px;
}

.loginBtn {
    color: #fff;
    font-weight: 700;
    font-size: 2.4rem;
    padding: 0.5em 6.2em;
    background-color: var(--green);
    border-radius: 600px;
    margin-top: 65px;
    margin-bottom: 80px;
    cursor: pointer;
}

.loginBtn:active {
    background-color: #01d51e;
}

*::placeholder {
    font-size: 1.4rem;
}

.visibility-btn {
    color: #000000;
    position: absolute;
    background: transparent;
    right: 233px;
    bottom: 112px;
    /* right: 770px;
    bottom: 747px; */
    border: none;
    cursor: pointer;
}

.visibility-btn span {
    font-size: xx-large;
    color: var(--green-2);
}
